.about {
    margin: auto;
    align-items: center;
    display: none;
}

.about-container {
    margin: auto;

    & .about-title {
        margin: auto;
        justify-content: center;
        width: max-content;

        & h1 {
            font-size: 70pt;
        }
    }

    & .about-item1 {
        margin: auto;
        display: flex;
        justify-content: center;
        box-shadow: 0px 1px 0px 0px rgb(94, 94, 94);
        width: 1200px;

        & img {
            width: 600px;
            height: 600px;
        }

        & p {
            font-size: 25pt;
            text-align: left;
        }
    
    }

    & .about-item2 {
        margin: 5rem auto;
        display: flex;
        justify-content: center;
        box-shadow: 0px 1px 0px 0px rgb(94, 94, 94);
        width: 1200px;

        & img {
            width: 600px;
            height: 600px;
        }

        & p {
            font-size: 25pt;
            text-align: right;
        }
    
    }

    & .about-item3 {
        margin: auto;
        display: flex;
        justify-content: center;
        box-shadow: 0px 1px 0px 0px rgb(94, 94, 94);
        width: 1200px;

        & img {
            width: 600px;
            height: 600px;
        }

        & p {
            font-size: 25pt;
            text-align: left;
        }
    
    }

    & .about-item4 {
        margin: 5rem auto;
        display: flex;
        justify-content: center;
        width: 1200px;

        & img {
            width: 600px;
            height: 600px;
        }

        & p {
            font-size: 25pt;
            text-align: right;
        }
    
    }
}

