.home {
    display: none;
}

#home-divs {
    display: flex; /* flex */
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 2rem;

    & .text{
        font-size: 40pt;
        margin: 0 auto;
        width: 600px;
    }

    & .slider {
        margin: 0 auto;
        width: 800px;
        height: 400px;
        overflow: hidden;
    }
}


.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slide {
    width: 25%;
    position: relative;
}

.slides input {
    display: none;
}

.slide img {
    width: 800px;
}

.manual-navigation {
    position: absolute;
    width: 400px;
    margin-top: 370px;
    display: flex;
    justify-content: center;
}


.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.manual-btn:not(:last-child){
    margin-right: 30px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~.first{
    margin-left: 0;
}

#radio2:checked ~.first{
    margin-left: -25%;
}

#radio3:checked ~.first{
    margin-left: -50%;
}

#radio4:checked ~.first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.navigation-auto {
    position: absolute;
    width: 400px;
    margin-top: 370px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 30px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}