body {
    background: black;
    color: white;
    align-items: center;
}

/* Header */
header {
    padding: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 0px 0px rgb(94, 94, 94);
}

#header-logo {
    margin: auto;
}

#header-logo-img {
    height: 40px;
}
#header-buttons {
    margin: auto;
    display: flex;
}

#header-buttons li {
    padding: 0px 10px;
    font-size: 16px;
    list-style: none;
    transition: 0.15s;
    cursor: pointer;
    user-select: none;;
}

#header-buttons li:hover {
    opacity: 0.7;
}

#header-buttons li:active {
    font-size: 15.5px;
    padding: 0px 10.7px;
}
