.service {
    display: none;
}

#service-container {
    display: block; /* block */
    margin: auto;
    align-items: center;

    & .service-title {
        margin: 0 auto;
        width: max-content;

        & h1 {
            font-size: 70pt;
        }
    }

    & #service-items {
        margin: auto;
        display: flex;
        flex-wrap:wrap;
        overflow-y: scroll;


        & li {
            border: 1px solid #fff;
            border-radius: 12px;
            padding: 2rem;
            list-style: none;
            margin: 2rem auto;
            align-items: center;
            padding: 0 1rem;

            & img {
                border-radius: 12px;
                margin-top: 1rem;
                width: 450px;
                height: 450px;
            }

            & p {
                width: max-content;
                margin: 0 auto;
                font-size: 20pt;
                padding: 1rem;
            }
        }
    }
}