@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --fundo: #222222;
    --texto: #eeeeee;
    --whatsapp-1: rgb(0, 97, 0);
    --whatsapp-2: rgb(127, 253, 127);
    --borda-escura: #181818;
    --borda-clara:  #ffffff;
    --instagram-1: rgb(255, 0, 170);
    --instagram-2: rgb(168, 3, 113);
    --facebook-1: rgb(0, 132, 255);
    --facebook-2: rgb(0, 95, 184);
}

body {
    color: var(--fundo);
    background-color: var(--fundo);
}

/* HEADER */
#container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/home/fundo.jpg');
    background-position: left top;
}


/* DIV LOGO GRID HEADER */
#container-header div.logo{
    display: grid;
    grid-template-columns: 40% 1fr;

    align-items: center;
    justify-items: center;

    padding: 10px;
}

/* DIV LOGO HEADER */
#container-header div.logo > div.img{
    grid-area: 1 / 1 / 2 / 2;

    border-radius: 50%;
    overflow: hidden;

    border: 2px solid var(--borda-clara);
    outline: 1px solid var(--borda-escura);
    
    height: 120px;
}

/* LOGO NGCAR HEADER */
#container-header div.logo > div.img > img{
    width: 100%;
    height: 100%;
}

/* TITULO P1 HEADER */
#container-header div.logo > h1{
    width: 100%;
    grid-area: 1 / 2 / 3 / 2;
    color: var(--texto);
    font-size: 3em;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 2px #222222;

}

/* TITULO P2 HEADER */
#container-header div.logo > h1 > p{
    color: var(--texto);
    font-size: 0.4em;
    text-align: center;
    font-style: normal;
}


/* DESCRIÇÃO HEADER */
#container-header > p {
    text-align: center;
    text-indent: 1em;
    text-align: justify;
    font-size: 1.2em;
    margin: 10px 10px;
    color: var(--texto);

    text-shadow: 2px 2px 2px #222222;
}

/*WHATSAPP HEADER*/
#container-header > a{
    font-size: 1.4em;
    text-decoration: none;
    border: 1px solid var(--borda-clara);
    color: var(--borda-clara);
    border-radius: 2px;
    padding: 6px;
    margin: 10px 0px 10px 10px;
    background-color: rgba(32, 32, 32, 0.397);
}
/* DIV TELEFONE HEADER */
#container-header div.telefone{
    color: var(--texto);
    text-align: center;
    margin-bottom: 10px;
    font-style: italic;
}


/* MAIN */
main {
    border-top: 1px #eeeeee solid;
    color: var(--texto);
    padding-top: 5px;
}


main .container-video{
    width: 100%;
}

main h2{
    padding-bottom: 5px;
    margin-left: 10px;
}

.container-video .video {
    text-align: center;
}

.container-video iframe {
    width: 95%;
}

.container-services {
    width: 100%;
    margin: auto;
}

.container-services > .item {
    margin: 0px auto 10px auto;
    width: 95%;
    border-radius: 8px;
    border: 2px solid var(--borda-clara);
    text-align: center;
}

.item > img{
    width: 98%;
    height: 80%;
    padding: 10px;
    border-radius: 20px;
}

.item > p{
    padding-bottom: 5px;
    font-size: 1.5em;
}

footer{
    border-top: 1px #eeeeee solid;
    background-color: var(--borda-escura);
    color: var(--texto);
    text-align: center;
}

footer div{
    margin-top: 10px;
    font-size: 1.8em;
}

footer div i{
    color: #eeeeee;
}


footer div p{
    margin-top: 10px;
    font-size: 0.6em;
}
footer .informações{
    text-align: center;
}
footer .informações a{
    color: var(--texto);
    text-decoration: none;
    font-size: 0.6em;
}

footer .publi{
    background-color: black;
    color: var(--fundo);
}

footer .publi p{
    color: #5c5c5c;
}

.publi a{
    font-size: 1em;
    color: #727272;
}

