@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --fundo: #222222;
    --texto: #eeeeee;
    --whatsapp-1: rgb(0, 97, 0);
    --whatsapp-2: rgb(127, 253, 127);
    --borda-escura: #181818;
    --borda-clara:  #ffffff;
    --instagram-1: rgb(255, 0, 170);
    --instagram-2: rgb(168, 3, 113);
    --facebook-1: rgb(0, 132, 255);
    --facebook-2: rgb(0, 95, 184);
}

body {
    color: var(--fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/home/fundo.jpg');
}

#container-header div.logo{
    display: grid;
    grid-template-columns: 40% 1fr;

    align-items: center;
    justify-items: center;

    padding: 10px;
}

#container-header div.logo > div.img{
    grid-area: 1 / 1 / 2 / 2;

    border-radius: 50%;
    overflow: hidden;

    border: 2px solid var(--borda-clara);
    outline: 1px solid var(--borda-escura);
    
    height: 100px;
}

#container-header div.logo > div.img > img{
    width: 100%;
    height: 100%;
}


#container-header div.logo > h1{
    width: 100%;
    grid-area: 1 / 2 / 3 / 2;
    color: var(--texto);
    font-size: 3em;
    text-align: center;
    font-style: italic;
}

#container-header div.logo > h1 > p{
    color: var(--texto);
    font-size: 0.4em;
    text-align: center;
    font-style: normal;
}

#container-header > p {
    text-align: center;
    text-indent: 1em;
    text-align: justify;
    font-size: 1.2em;
    margin: 10px 10px;
    color: var(--texto);
}

#container-header > a{
    font-size: 1.6em;
    text-decoration: none;
    border: 1px solid var(--borda-clara);
    color: var(--borda-clara);
    border-radius: 2px;
    padding: 6px;
    margin: 10px 0px 10px 10px;
}

#container-header div.telefone{
    color: var(--texto);
    text-align: center;
    margin-bottom: 10px;
}

#container-main {
    border: 2px solid red;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

#container-main section.section-video {
    height: 300px;
    width: 300px;
}

#container-main section.section-video > iframe{
    width: 100%;
    height: 100%;
}

#container-main section.section-servies {
    height: 300px;
    width: 100%;
}

#container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: var(--fundo);
}

#container-footer div.logo > div.img{
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;

    border: 2px solid var(--borda-escura);
    outline: 1px solid var(--borda-clara);

}

#container-footer div.logo > div.img > img{
    width: 100%;
    height: 100%;
}

#container-footer div.redes {
    margin: 30px 0px 20px 0px;
}

#container-footer div.redes > a {
    font-size: 1.2em;
    text-decoration: none;
    border: 2px solid var(--borda-clara);
    color: var(--borda-clara);
    border-radius: 10px;
    padding: 6px;
    margin: 0px 5px;
}


#container-footer p {
    text-align: center;
    font-size: 1.2em;
    margin: 15px 0px;
    color: var(--texto);
}

#container-footer > div.localizacao {
    text-align: center;
    font-size: 1.2em;
    max-width: 300px;
}

#container-footer > div.localizacao > a {
    text-decoration: none;
    color: var(--texto);
}
